<div class="bookstar">
  <div>
    <h1>SACH BAN CHAY</h1>
  </div>
  <div>
    <img src="img/bookstar/one.jpg" alt="" />
    <div class="name">VUA HAI TAC</div>
    <p class="descrip">
      One Piece cũng được chuyển thể sang một vài loại hình truyền thông khác
      nhau. Một OVA được hãng Production I.G sản xuất vào năm 1998. Tiếp đó,
      phiên bản anime dài tập do hãng Toei Animation thực hiện, bắt đầu lên sóng
      truyền hình Nhật Bản vào năm 1999.
    </p>
  </div>
  <div>
    <img src="img/bookstar/one.jpg" alt="" />
    <div class="name">VUA HAI TAC</div>
    <p class="descrip">
      One Piece cũng được chuyển thể sang một vài loại hình truyền thông khác
      nhau. Một OVA được hãng Production I.G sản xuất vào năm 1998. Tiếp đó,
      phiên bản anime dài tập do hãng Toei Animation thực hiện, bắt đầu lên sóng
      truyền hình Nhật Bản vào năm 1999.
    </p>
  </div>
</div>
