<div class="card__picture">
    <a href="http://127.0.0.1:5500/contentNHom/NoiDungSP.html">
        <img src="birthdayCake.png" alt="" />
    </a>
    <div class="detail">
        <p class="name-book">
            <%= name %>
        </p>
        <!-- <pre class="attributes">
            số trang:
            kích thước:
            ngày phát hành:
                    </pre
      > -->
        <p class="price">
            <%= price %>
        </p>
    </div>
</div>