<div class="footer">
  <div class="wrapper">
    <div class="footermenu clearfix">
      <div class="col">
        <ul>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Chính sách vận chuyển</a></li>
          <li><a href="#"> Hình thức thanh toán</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="#">Quy định đổi, trả và huỷ đơn hàng</a></li>
          <li><a href="">Hướng dẫn đặt hàng</a></li>
          <li><a href="">Liên hệ</a></li>
          <li><a href="#">Thông báo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
