<div class="head">
  <div class="header">
    <div class="topbar hidden-mobile">
      <div class="wrapper">
        <div class="clearfix">
          <ul class="topnav">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Lịch sử giao dịch</a></li>
            <li><a href="#">Kiểm tra đơn hàng</a></li>
          </ul>
          <ul class="topprofile">
            <li><a href="/signup">Đăng ký</a></li>
            <li><a href="/signin">Đăng nhập</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper wrap">
      <!-- <h1 class="logo">
        <a href="/">Công Mạnh Book</a>
      </h1>
      <div class="cart" id="cart">Giỏ hàng (<span id="cartcount">0</span>)</div>

      <span class="openmenu-icon"></span>
      <span class="opensearch-icon"></span> -->
    </div>
  </div>
  <div id="mainnav">
    <div class="wrapper">
      <ul class="menu clearfix">
        <li>
          <a href="">Danh mục sách</a>
          <ul class="submenu">
            <li>
              <a href="">Văn học Việt Nam</a>
              <ul class="submenu2">
                <li><a href="">Tiểu thuyết</a></li>
                <li><a href="">Truyện ngắn</a></li>
                <li><a href="">Thơ / Kịch</a></li>
                <li><a href="">Hồi ký / Phê Bình / Tiểu luận</a></li>
                <li><a href="">Tạp bút / Tản văn</a></li>
              </ul>
            </li>
            <li>
              <a href="">Văn học Nước Ngoài</a>
              <ul class="submenu2">
                <li><a href="">Đương đại</a></li>
                <li><a href="">Lãng mạn</a></li>
                <li><a href="">Trinh thám / Kinh dị</a></li>
                <li><a href="">Kiếm hiệp</a></li>
                <li><a href="">Kinh điển</a></li>
                <li><a href="">Thơ / Kịch</a></li>
                <li><a href="">Hồi ký / Tiểu luận</a></li>
                <li><a href=""> Huyền ảo / Giả tưởng</a></li>
                <li><a href="">Tản văn / Tạp bút</a></li>
              </ul>
            </li>
            <li>
              <a href="">Thiếu nhi</a>
              <ul class="submenu2">
                <li><a href="">Tuổi teen</a></li>
                <li><a href="">Truyện tranh</a></li>
                <li><a href="">Thiếu nhi</a></li>
              </ul>
            </li>
            <li>
              <a href="">Thời sự - Chính trị</a>
              <ul class="submenu2">
                <li><a href="">Hồi ký / Tự truyện</a></li>
                <li><a href="">Thế giới hiện đại</a></li>
              </ul>
            </li>
            <li><a href="">Tham khảo</a></li>
            <li><a href="">Giảm giá đặc biệt</a></li>
            <li><a href="">Sách tái bản</a></li>
            <li><a href="">Đặt trước sách</a></li>
          </ul>
        </li>
        <li><a href="">Sách bán chạy</a></li>
        <li><a href="">Chương trình khuyến mãi</a></li>
        <li><a href="">Giảm giá đặc biệt</a></li>
        <li>
          <div class="search">
            <form action="/search" method="GET" novalidate="novalidate">
              <input
                type="text"
                name="q"
                placeholder="Tìm kiếm sách..."
                class="text"
              />
              <input type="submit" value="Tìm kiếm" class="submit" />
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
