<div class="slider">
    <div class="left"></div>
    <div class="anh">
        <img class="imgh" src="img/slider/Picture1.png" alt="" />
        <img class="imghidden imgh" src="img/slider/Picture2.png" alt="" />
        <img class="imghidden imgh" src="img/slider/Picture3.png" alt="" />
    </div>
    <div class="right"></div>
</div>