* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: url("header.jpg") repeat-x scroll 50% 0 rgba(0, 0, 0, 0);
  width: 100%;
  height: 150px;
}

.header .wrap {
  /* position: relative; */
  height: 150px;
  width: 100%;
  background-image: url("img/back/back.jpg");
}

.header .topbar {
  height: 22px;
  background: rgba(216, 216, 216, 0.6);
  line-height: 22px;
  text-transform: uppercase;
}

.header .topbar a {
  color: #016600;
  font-size: 11px;
  text-decoration: none;
}

.header .topbar a:hover {
  text-decoration: underline;
}

.header .topnav {
  float: left;
  width: 400px;
}

.header .topnav > li {
  display: inline;
  position: relative;
}

.header .topnav > li a:before {
  content: "|";
  padding: 0 15px;
}

.header .topnav > li:first-child a:before {
  content: "";
  padding: 0;
}

.header .topprofile {
  float: right;
}

.header .topprofile > li {
  display: inline-block;
}

.header .topprofile > li a {
  color: #016600;
}

.header .topprofile > li a:before {
  content: "|";
  padding: 0 15px;
}

.header .topprofile > li:first-child a:before {
  content: "";
  padding: 0;
}

.header .cart {
  background: url("images2/cart.png") no-repeat scroll left center
    rgba(0, 0, 0, 0);
  color: #000;
  height: 55px;
  position: absolute;
  right: 0;
  text-indent: -500em;
  text-transform: uppercase;
  top: 20px;
  width: 55px;
  cursor: pointer;
}

.header .search {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  height: 28px;
  position: absolute;
  right: 0;
  top: 90px;
  width: 320px;
}

.header .search .text {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  color: #333;
  float: left;
  margin: 6px 0 0 8px;
  padding: 2px;
  width: 300px;
}

.header .search .text::-webkit-input-placeholder {
  color: #016600;
  font-style: italic;
}

.header .search .text:-moz-placeholder {
  color: #016600;
  font-style: italic;
}

.header .search .text::-moz-placeholder {
  color: #016600;
  font-style: italic;
}

.header .search .text:-ms-input-placeholder {
  color: #016600;
  font-style: italic;
}

.header .search .submit {
  background: url("images2/searchbg.png") no-repeat scroll center center
    rgba(0, 0, 0, 0);
  border: medium none;
  display: block;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -500em;
  width: 30px;
}

.header .slogan {
  background: url("images/slogan.png") no-repeat scroll center center
    rgba(0, 0, 0, 0);
  display: block;
  height: 45px;
  left: 125px;
  position: absolute;
  text-indent: -500em;
  top: 80px;
  width: 300px;
}

.header .logo {
  display: block;
  height: 90px;
  left: -1px;
  position: absolute;
  top: 30px;
  width: 514px;
}

.header .logo a {
  background: url("./logo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 90px;
  text-indent: -500em;
  width: 514px;
}

#mainnav {
  background-color: #016600;
}

#mainnav .menu {
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#mainnav .menu > li {
  position: relative;
  width: 250px;
  float: left;
}

#mainnav .menu > li > a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-align: center;
}

#mainnav .menu > li:hover > a {
  background: #033801;
}

#mainnav .menu > li:hover .submenu {
  display: block;
}

#mainnav .submenu {
  background-color: #016600;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
  display: none;
  left: 0;
  position: absolute;
  top: 40px;
  z-index: 9999;
  width: 250px;
}

#mainnav .submenu > li {
  position: relative;
}

#mainnav .submenu > li > a {
  background: none repeat scroll 0 0 yellow;
  color: #fff;
  display: block;
  line-height: 28px;
  margin-top: 1px;
  padding: 0 20px;
  text-transform: uppercase;
}

#mainnav .submenu > li:hover > a {
  background: rgba(0, 0, 0, 0);
}

#mainnav .submenu > li:hover .submenu2 {
  display: block;
}

#mainnav .submenu2 {
  background-color: #016600;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  display: none;
  left: 250px;
  position: absolute;
  top: -1px;
  z-index: 9999;
  width: 250px;
}

#mainnav .submenu2 > li > a {
  background: none repeat scroll 0 0 #033801;
  color: #fff;
  display: block;
  line-height: 28px;
  margin-top: 1px;
  padding: 0 20px;
  text-transform: uppercase;
}

#mainnav .submenu2 > li:first-child a {
  margin-top: 0;
  padding-top: 1px;
}

#mainnav .submenu2 > li > a:hover {
  background: rgba(0, 0, 0, 0);
}

.slider .left,
.slider .right {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: brown;
}

.slider {
  display: flex;
  flex-direction: row;
}

.slider {
  width: 100%;
}

.slider .anh {
  width: calc(100% - 40px);
  height: 200px;
}

.anh img {
  width: 100%;
  height: 100%;
  animation-name: fade;
  animation-duration: 2.5s;
}

/* Fading animation */

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.imghidden {
  display: none;
}

/* --bookstar-- */

.bookstar {
  display: flex;
  height: 650px;
  padding: 30px 0;
}

.bookstar > div {
  padding: 0 20px;
  width: calc(100% / 3);
}

.bookstar div:nth-child(1) {
  opacity: 0.5;
  background-color: #737f73;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.name,
.descrip {
  margin-top: 10px;
}

.bookstar div:nth-child(2) {
  margin-top: 100px;
}

/*-- noi dung --*/

.card__header P {
  padding-top: 15px;
}

.card img {
  height: 100px;
  width: 100%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.card .card__picture {
  /* flex-basis: calc(100% / 4);
  width: calc(100% / 4); */
  /* height: 200px; */
  padding: 0 5px;
  flex-basis: calc(100% / 4);
}

.card__picture img {
  height: 350px;
}

.card .detail {
  background-color: white;
  border: solid #645555dd 1px;
}

.card .detail .name-book {
  height: 30px;
  line-height: 30px;
  background-color: green;
  color: rgb(21, 16, 16);
}

.main .card-container .card .card__picture:hover .detail {
  display: block;
}

/* --footer-- */

.footer {
  background: url("images2/headerbg.png") repeat-x scroll 50% 0 rgba(0, 0, 0, 0);
  border-top: 8px solid rgba(216, 216, 216, 0.6);
}

.footer .copyright {
  text-align: center;
  border-top: 4px solid rgba(216, 216, 216, 0.8);
  color: #fff;
  background: url("images2/menubg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  line-height: 20px;
  padding-bottom: 5px;
}

.footermenu {
  height: 200px;
}

.footermenu .col {
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  width: 280px;
}

.footermenu .col li {
  background: url("") no-repeat scroll 0 center rgba(0, 0, 0, 0);
  border-bottom: 1px solid #c2c2c2;
  padding: 10px 0 10px 30px;
}

.footermenu .col li a {
  color: #0f5731;
  font-size: 16px;
  text-decoration: none;
}

.footermenu .col li a:hover {
  text-decoration: underline;
}

.footermenu .socialbtn a {
  display: inline-block;
  margin-right: 10px;
  background: url(images2/shareicons2.png) no-repeat;
  width: 45px;
  height: 45px;
  text-indent: -500em;
}

.footermenu .socialbtn a.rss {
  background-position: -58px 0;
}

.footermenu .socialbtn a.twitter {
  background-position: -116px 0;
}

.footermenu .socialbtn a.pinterest {
  background-position: -178px 0;
}

.footermenu .socialbtn a.behance {
  background-position: -237px 0;
}

.so1,
.so2 {
  border-radius: 20%;
  height: 500px;
  width: 500px;
  padding: 0 5px;
  border: #737f73 1px solid;
  color: #000;
}

.so {
  /* margin-top: 5px;
  margin-left: 5px; */
  padding: 10px 0;
  text-align: center;
  /* height: 500px; */
}

.so1:hover {
  background-color: #016600;
  color: #ccc;
}

.so2:hover {
  background-color: #016600;
  color: #ccc;
}

a {
  text-decoration: none;
}
